# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQL Server and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Need to replace the encoded characters for any special symbols. For example '%23' is used in place
# of '#' character in the password.

DATABASE_URL=YOUR_DATABASE_URL

SESSION_SECRET='your_session_secret'